<!DOCTYPE html>
<ion-view class="home">
  <ion-nav-title class="logo">
    id34
  </ion-nav-title>

  <ion-content class="has-header app-bg">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="This" ng-model="this">
      </label>
      for
      <label class="item item-input">
        <input type="text" placeholder="That" ng-model="that">
      </label>
      <button class="button button-full" ng-click="getRandomIdea">
        Get A Random Idea
      </button>
    </div>



  </ion-content>
</ion-view>
